<!--Etapa 2 | Creació del component ContactItem-->

<!-- Aquí mostrem la llista del contacte-->
<a routerLink="../edit/{{contact.id}}" class="col-8">{{contact.firstName}} {{contact.lastName}}</a>
<!-- Aquí mostrem el botó de esborrar pero no hi ha hagut manera de que sortis la icona-->
<button (click)="removeItem(contact.id)" class="pull-right btn btUOC btUOC-grey"><i class="fa fa-trash" aria-hidden="true"></i>Eliminar</button>
