:host{
  margin-top: 30px;
  .form-group{
    font-size: 20px;
    label{
      display: block;
      font-weight: bold;
      margin-bottom: 2px;
    }
    input{ 
      border: 1px solid #ccc;
      margin-bottom: 20px;
      font-size: 16px;
      color: #666;
      padding: 4px 6px;
    }
  }

  .btn-success{
    background-color: #bbf092;
    color: #679642;
  }
}

