<!--Etapa 4 | Creació del component AddContact-->
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="firstName">Nombre:</label>
    <input id='firstName' 
           class="form-control" 
           placeholder="Introduzca un nombre" 
           formControlName="firstName" 
           required>
  </div>
  <div class="form-group">
    <label for="lastName">Apellido:</label>
    <input id="lastName"  
           class="form-control" 
           placeholder="Introduzca un Apellido" 
           formControlName="lastName" 
           required>
  </div>
  <div class="form-group">
    <label for="phone">Teléfono:</label>
    <input id="phone" 
           placeholder="Introduza un Teléfono" 
           class="form-control" 
           formControlName="phoneNumber" 
           required>
  </div>
  <!--ETAPA 9 Afegir mes elements al formulari-->
  <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" 
             placeholder="Introduza un email" 
             class="form-control" 
             formControlName="email" 
             required>
    </div>
    <div class="form-group">
        <label for="direccio">Direccion:</label>
        <input id="direccio" 
               placeholder="Introduza una Direccion" 
               class="form-control" 
               formControlName="direccio" 
               required>
      </div>
      
  <!--Botó guardar les dades que volem afegir.-->
  <div class="form-group text-right">
    <button type="submit" 
            [disabled]="contactForm.invalid" 
            class="btn btn-success">Guardar</button>
            <!--Botó per cancelar les dades a guardar.-->
    <button type="reset"
            [disabled]="contactForm.controls.firstName.invalid && contactForm.controls.lastName.invalid && contactForm.controls.phoneNumber.invalid"
            class="btn btn-danger">Cancelar</button>
  </div>
</form>
