
<!--Etapa 3 | Creació del component ContactList-->
<div class="jumbotron primary">
  <h4 class="">{{ contactList.length }} contactos</h4>
  <!--El ul  engloba tots els contemItems guardats-->
  <ul class="">
    <li class="row list-group-item" *ngFor="let contact of contactList">
      <contact-item [contact]="contact"></contact-item>
    </li>
  </ul>
</div>
