<!--Etapa 1 | Creació del component ContactDetail-->
<div class="container">
  <div class="row">
    <div class="col-22 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div>
        <!--Tornem enrera.-->
          <button routerLink="" class="btn backBtn">&lt; Atras</button>
          <!--Botó per eliminar el contacte -->
          <button (click)="removeContact()" class="float-right btn btn-danger">Eliminar el contacto</button>
      </div>
      <form [formGroup]="editContactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">Nombre:</label>
          <input id='firstName' 
                class="form-control" 
                placeholder="Nombre" 
                formControlName="firstName" 
                required>
        </div>
        <div class="form-group">
          <label for="lastName">Apellido:</label>
          <input id="lastName" 
                class="form-control" 
                placeholder="Apellido" 
                formControlName="lastName" 
                required>
        </div>
        <div class="form-group">
          <label for="phone">Teléfono:</label>
          <input id="phone" 
                placeholder="Teléfono" 
                class="form-control" 
                formControlName="phoneNumber" 
                required>
        </div>
        <div class="form-group">
            <label for="email">Direccion:</label>
            <input id="email" 
                  placeholder="Email" 
                  class="form-control" 
                  formControlName="email" 
                  required>
          </div>
          <div class="form-group">
              <label for="direccio">Direccion:</label>
              <input id="direccio" 
                    placeholder="Direccion" 
                    class="form-control" 
                    formControlName="direccio" 
                    required>
            </div>
        <!--Botó guardar les dades que hem modificat-->
        <div class="text-right">
          <button type="submit" 
                  [disabled]="editContactForm.invalid" 
                  class="btn btn-success">Guardar</button>
          <!--Esborrar les dades sinó volem modificar-->
          <button type="button" 
                  (click)="resetForm()"
                  [disabled]="editContactForm.controls.firstName.invalid && editContactForm.controls.lastName.invalid && editContactForm.controls.phoneNumber.invalid"
                  class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
