@import url('https://fonts.googleapis.com/css?family=Roboto');

:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  font-family: 'Roboto', sans-serif;

  .container{
    .jumbotron{
      padding: 2rem 2rem;
    }
    h1{
      margin-bottom:0;
    }
    .author-name{
      margin: 10px auto 0;
      display: block;
      color: red;
      font-style: oblique;
    }
  }
}


