<!--Etapa 1 | Creació del projecte via Angular-CLI-->

<header class="row">
  <div class="container">
    <div class="jumbotron bg-info">
      <h1 class="text-light text-center">Contacts Agenda</h1>
      <kbd class="author-name col-6 offset-3 bg-light text-center">by {{autorname}}</kbd>
    </div>
  </div>
</header>
<router-outlet  class="row"></router-outlet>
